<!DOCTYPE html>
<div id="transportStatus"></div>

<form method="post" id="fm2" class="fm-v clearfix" th:object="${credential}">  
    <input type="hidden" name="uid" th:attr="value=${user.getUid()}" id="inputUid"/>
    <input type="hidden" name="userHash" th:attr="value=${user.getHash()}" id="inputUserHash"/>
    <input type="hidden" name="method" value="" id="inputMethod"/>
    <input type="hidden" name="transport" value="" id="inputTransport"/>

    <label for="token" class="fl-label" th:utext="#{cas.mfa.esupotp.receiveCodeFromTransport}"/>
    <div th:each="transportMap : ${listTransports}">
        <input 
            class="btn-submit btn-block transportInput" style="background-color: rgb(29, 113, 184);  margin-bottom:15px;" type="button" 
            th:attr="value=${transportMap.transport}"
            th:onclick="|document.getElementById('inputMethod').value='${transportMap.method}';document.getElementById('inputTransport').value='${transportMap.transport}';|"
        />
    </div>
    <input class="btn-submit hide" name="submitCallTransport" accesskey="l"
       th:value="#{screen.welcome.button.register}" tabindex="4" type="submit" id="submit" />

    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>                    
</form>
