<!DOCTYPE html>
<html layout:decorator="layout">
    <head th:inline="text">
        <title th:utext="#{cas.mfa.esupotp.pagetitle}"></title>
    </head>

    <body id="cas">
        <div layout:fragment="content">
            <div id="data" th:data-apiurl="${apiUrl}" th:data-userhash="${user.getHash()}" th:data-uid="${user.getUid()}" th:data-divnocodedisplay="${divNoCodeDisplay}" th:data-waitingformethod="${waitingForMethodName}">
            <div id="waiting" class="hide">
                <center><h2><b><label th:utext="#{cas.mfa.esupotp.waitingFor}"></label></b></h2></center>
                <center><div id="displayTransport" class="btn btn-info" onClick="switchDiv();return false;"><b><label th:utext="#{cas.mfa.esupotp.displayOtherMethod}"></label></b></div></center>
            </div>
            <div id="login" class="box fl-panel hide">
                <form method="post" id="fm1" class="fm-v clearfix" th:object="${credential}">
                    <div id="msg" class="errors" th:if="${#fields.hasErrors('*')}">
                        <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
                    </div>

                    <div class="row fl-controls-left">
                        <label for="token" class="fl-label" th:utext="#{cas.mfa.esupotp.password}"/>

                        <input type="text" class="required" id="token" size="25" tabindex="1"
                               th:field="*{token}"
                               th:accesskey="#{screen.welcome.label.password.accesskey}" autocomplete="off"/>
                        <input class="btn-submit btn-block" id="submitCode" name="_eventId_submit" accesskey="l"
                               th:value="#{screen.welcome.button.login}" tabindex="4" type="submit" style="margin-top: 15px;"/>
                    </div>

                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                </form>

                <div id="codeRequest" th:data-url="${flowExecutionKey}"></div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    activateWaitingFor();
                    
                    //on load, call transport list html
                    var $outputDiv = $('#codeRequest');
                    var eventId = "callTransportView";
                    $.ajax({
                        type: "POST",
                        data: {execution:$("#codeRequest").data('url')}  ,
                        url: "?_eventId="+eventId+"&ajaxSource=true"
                    }).done(function(data){
                        $outputDiv.html(data);
                    }).fail(function(error){
                        $outputDiv.html(error);
                    });
                    
                    // submit transport choice
                    $(document).on('click', 'input.transportInput', function(){
                        if($(this).val() != 'push'){
                            submitCodeRequest();
                        } else {
                            submitPushCodeRequest($(this).val());
                        }
                    });
                });
                
                var socket;
                var apiUrl = $("#data").data('apiurl');
                var divNoCodeDisplay = $("#data").data('divnocodedisplay');
                var waitingForMethodName = $("#data").data('waitingformethod');
                var uid = $('#data').data('uid');
                var userHash = $('#data').data('userhash');
                
                // if waitingFor method is activated, waitingForDiv will appear else TransportDiv will appear
                function activateWaitingFor(){
                    if(divNoCodeDisplay){
                        $('#waiting').toggleClass('hide');
                        submitPushCodeRequest(waitingForMethodName);
                    } else {
                        $('#login').toggleClass('hide');
                    }
                }
                
                function switchDiv(){
                    $('#login').toggleClass('hide');
                    $('#waiting').toggleClass('hide');
                }
                
                function submitCodeRequest(){
                    var $outputDiv = $('#transportStatus');
                    var eventId = "submitCallTransport";
                    $.ajax({
                        type: "POST",
                        data: $("#fm2").serialize(),
                        url: "?_eventId="+eventId+"&ajaxSource=true"
                    }).done(function(data){
                        $outputDiv.html(data);
                    }).fail(function(error){
                        $outputDiv.html(error);
                    });
                }
                
                function submitPushCodeRequest(methodName) {
                    $.ajax({
                        type: 'POST',
                        url: apiUrl + '/users/'+ uid +'/methods/' + methodName + '/transports/push/' + userHash
                    }).done(function(data) {
                        if (data.code == "Ok") {
                            socket = io.connect(apiUrl, {
                                reconnect: true, 
                                path: "/sockets", 
                                query: 'uid=' + uid + '&hash=' + userHash + '&app=cas'
                            });
                            initializeSocket();
                        } else {
                            console.log("Something is broken");
                        }
                    });
                }
                
                function initializeSocket() {
                    socket.on('connect', function () {
                    });
                
                    socket.on('userAuth', function (data) {
                        if (data.code == "Ok") {
                            $('#token').val(data.otp);
                            $('#submitCode').click();
                        }
                    });
                }

            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        </div>
    </body>
</html>